body {
  background-color: rgb(198, 208, 208);
  text-align: center;
}

h1 {
  color: rgb(104, 16, 16);
  text-align: center;
  padding-top: 20px;
  font-size: 40px;
}

h2 {
  color: rgb(104, 16, 16);
}

.perfilpicture {
  border-radius: 50%;
  text-align: center;
  padding: 10px;
  width: 150px;
}

.data {
  font-family: "Franklin Gothic Medium";
}

.list-inline {
  padding-left: 0%;
  list-style: none;
}

.list-inline li{
  display: inline;
  padding-left: 10px;
}

.list-inline i{
  font-size: 30px;
  color: red;
}

.list-inline i:hover{
  color:black
}

.link{
  text-decoration: none;
  color: beige;
  background-color: brown;
  padding: 5px;
  margin: 15px 50px;
  border-radius: 4px;
}

.info i{
  font-size: 20px;
  color: red;
  padding-top: 30px;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 700px;
  }
}
